<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMTECH</title>

    <link rel="icon" type="image/x-icon" href="./assets/TMTECH.jpg">

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/development_doc.css">
</head>

<body>

    <nav>
        <div class="navbar">
            <div class="navbar-content">
                <div class="inline">
                    <div class="nav-logo"><img src="./assets/TMTECH-removebg-preview.png" alt="logo"></div>
                    <div class="nav-items">
                        <ul class="inline">
                            <li>
                                <a href="" class="inline">
                                    Products
                                    <div class="arrow">
                                        <svg width="12" height="6" viewBox="0 0 12 6" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.7339 5.99997L0.104736 -3.05176e-05L5.7339 3.72292L11.3631 -3.05176e-05L5.7339 5.99997Z"
                                                fill="black" />
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="inline">
                                    Solutions
                                    <div class="arrow">
                                        <svg width="12" height="6" viewBox="0 0 12 6" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.7339 5.99997L0.104736 -3.05176e-05L5.7339 3.72292L11.3631 -3.05176e-05L5.7339 5.99997Z"
                                                fill="black" />
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li><a href="">Developers</a></li>
                            <li><a href="">Resources</a></li>
                        </ul>
                    </div>
                </div>
                <div class="inline navbar-content-r">

                    <div class="language-switcher dropdown">
                        <div class="caption">
                            <img src="./assets/en.png" alt="En">
                            <span>En</span>
                        </div>
                        <div class="list">
                            <div class="item" data-item="en">
                                <img src="./assets/en.png" alt="En">
                                <span>En</span>
                            </div>
                            <div class="item" data-item="ru">
                                <img src="./assets/ru.png" alt="Ru">
                                <span>Ru</span>
                            </div>
                            <div class="item" data-item="az">
                                <img src="./assets/az.png" alt="Az">
                                <span>Az</span>
                            </div>
                        </div>
                    </div>
                    <label class="hamburger" for="toggleSidebar">
                        <div class="sidebar">
                            <input type="checkbox" id="toggleSidebar">


                            <svg viewBox="0 0 32 32">
                                <path class="line line-top-bottom"
                                    d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                                </path>
                                <path class="line" d="M7 16 27 16"></path>
                            </svg>

                            <div class="sidebar-content">
                                <div class="sidebar-logo">
                                    <img src="./assets/logo.png" alt="logo">
                                </div>
                                <div class="sidebar-items">
                                    <ul>
                                        <li><a href="./index.html#about">About us</a></li>
                                        <li><a href="./index.html#services">Services</a></li>
                                        <li><a href="./web.html">Web and app development</a></li>
                                        <li><a href="./digMark.html">Digital marketing</a></li>
                                        <li><a href="./customer.html">Customer service</a></li>
                                        <li><a href="./delivery.html">Delivery services</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </label>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="products_doc">
            <h1>TMTECH Developer Center</h1>
            <p>Communications APİs</p>
            <div class="products_docs_box_keys">
                <ul>
                    <li id="list-item-1"><i class="fa-solid fa-comments"></i>Messaging</li>
                    <li id="list-item-2"><i class="fa-solid fa-comments"></i>Voice</li>
                    <li id="list-item-3"><i class="fa-solid fa-comments"></i>Network APIs</li>
                    <li id="list-item-4"><i class="fa-solid fa-comments"></i>Messaging</li>
                    <li id="list-item-5"><i class="fa-solid fa-comments"></i>Network APIs</li>
                </ul>
            </div>

            <div class="products_docs_doors">

                <div class="product_doc_door" id="content-1">
                    <div class="product_doc_door_box_group">
                        <div class="product_doc_door_box_big">
                            <div class="img">
                                <img src="" alt="img">
                                <div class="content">
                                    <h3>Messaging</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do adipiscing elit
                                        sed do adipiscing elit</p>
                                </div>

                            </div>
                            <div class="info">
                                <ul>
                                    <li><i class="fa-solid fa-circle-check"></i>
                                        <p>Example name for step</p>
                                    </li>
                                    <li><i class="fa-solid fa-circle-check"></i>
                                        <p>Example name for step</p>
                                    </li>
                                    <li><i class="fa-solid fa-circle-check"></i>
                                        <p>Example name for step</p>
                                    </li>
                                    <li><i class="fa-solid fa-circle-check"></i>
                                        <p>Example name for step</p>
                                    </li>
                                    <li><i class="fa-solid fa-circle-check"></i>
                                        <p>Example name for step</p>
                                    </li>
                                    <li><i class="fa-solid fa-circle-check"></i>
                                        <p>Example name for step</p>
                                    </li>
                                    <li><i class="fa-solid fa-circle-check"></i>
                                        <p>Example name for step</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="product_doc_door_box_small">
                            <div class="img"></div>
                            <div class="info">
                                <h1>Send a SMS</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do adipiscing elit sed do
                                    adipiscing elit</p>
                            </div>
                        </div>

                        <div class="product_doc_door_box_small">
                            <div class="img"></div>
                            <div class="info">
                                <h1>Messaging</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do adipiscing elit sed do
                                    adipiscing elit</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="product_doc_door" id="content-2">
                    <p>Content for Voice</p>
                </div>
                <div class="product_doc_door" id="content-3">
                    <p>Content for Network APIs 1</p>
                </div>
                <div class="product_doc_door" id="content-4">
                    <p>Content for Messaging 2</p>
                </div>
                <div class="product_doc_door" id="content-5">
                    <p>Content for Network APIs 2</p>
                </div>

            </div>
        </div>
    </main>


    <footer>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-top">
                    <div class="footer-item">
                        <div class="footer-links-group">
                            <div class="footer-links">
                                <h3>Company</h3>
                                <ul>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">About</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </div>
                            <div class="footer-links">
                                <h3>Products</h3>
                                <ul>
                                    <li><a href="">A-Voice</a></li>
                                    <li><a href="">A-Message</a></li>
                                    <li><a href="">A-Route</a></li>
                                    <li><a href="">A-Voice</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="footer-item">
                        <p>Geography, Geographic Information Systems (GIS), Human Geography,</p>
                    </div>
                    <div class="footer-item">
                        <div class="contact-info">
                            <div class="contact-box"><a href="">+44 000 000 00</a></div>
                            <div class="contact-box"><a href="">example@mail.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>All right reserved - ©TMTECH 2024</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d17c83b3d5.js" crossorigin="anonymous"></script>

    <!-- Add the jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="./app/app.js"></script>

</body>

</html>