.products_doc {
    padding: 2% 4%;
}

.products_doc h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--black);
    margin-bottom: 20px;
}

.products_doc p {
    font-weight: 400;
    font-size: 22px;
    color: var(--black);
}

.products_doc .products_docs_box_keys {
    margin-top: 40px;
}

.products_doc .products_docs_box_keys ul {
    display: flex;
    align-items: center;
    justify-content: start;
}

.products_doc .products_docs_box_keys ul li {
    margin-right: 10px;
}

.products_doc .products_docs_box_keys ul li {
    padding: 14px 18px;
    border-radius: 6px;
    background: var(--white);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    cursor: pointer;
}

.products_doc .products_docs_box_keys ul li:hover,
.products_doc .products_docs_box_keys ul li.active {
    background: var(--black);
    color: var(--white);
}


.products_doc .products_docs_box_keys ul li i {
    margin-right: 10px;
}

.product_doc_door {
    display: none;
}

.product_doc_door.active {
    display: block;
}

.products_docs_doors {
    margin-top: 90px;
}